{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Search Bar -->
<form id="searchForm" action="{% url 'recipes' %}" method="get" class="d-flex justify-content-center" role="search">
    <label for="search"></label>
    <input class="form-control search-bar me-2" id="search" type="text" name="search_query" value="{{search_query}}"
        placeholder="Chefs, Recipes, Ingredients..." aria-label="Search">
    <br>
    <button class="search-btn btn btn-outline-success" type="submit">Search</button>
</form>

<!-- Recipe cards -->
<main class="container text-center g-5">
    <div class="row justify-content-around mt-4">
        {% for recipe in recipes %}
        <div
            class="card border border-dark border-2 rounded-4 mt-1 col-12 col-md-5 col-lg-3 col-xl-3 g-5 mx-2 ms-xl-3 mb-5">
            <a href="{% url 'recipe' recipe.id %}">
                {% if 'placeholder' in recipe.featured_image.url %}
                <img class="card-img-top-recipe border border-dark border-2 rounded-4 mt-4 mb-2"
                    src="../static/images/empty-bowl.jpg" alt="Card image cap">
                {% else %}
                <img class="card-img-top-recipe border border-dark border-2 rounded-4 mt-4 mb-2"
                    src="{{recipe.featured_image.url}}" alt="Card image cap">
                {% endif %}
            </a>
            <!-- Recipe Title -->
            <a class="author recipe-title" href="{% url 'recipe' recipe.id %}">
                <p>{{recipe.title}}</p>
            </a>
            <p>by:</p>
            <!-- Author -->
            <a href="{% url 'user_profile' recipe.owner.id %}" class="author">{{recipe.owner.name}}</a>
            <hr>
            <!-- Tags -->
            <div>
                {% for tag in recipe.tags.all %}
                <span class="badge">{{tag}}</span>
                {% endfor %}
            </div>
            <hr>
            <!-- Info-Excerpt -->
            <div class="card-text">
                {{recipe.description|slice:'150'}}......
                <hr>
                Date added:
                <br>
                {{recipe.created_on}}
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' with queryset=recipes custom_range=custom_range %}
</main>

{% endblock content %}