{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="container text-center g-5">

    <div id="single-recipe" class="row justify-content-around justify-content-lg-start mt-5 mt-lg-0">

        <div class="card border border-dark border-2 rounded-4 col-11 col-md-5 col-lg-5 col-xl-5 g-5 mb-2">
            <a href="{% url 'recipe' recipe.id %}">
                <img class="card-img-top border border-dark border-2 rounded-4 mt-4 mb-2"
                    src="{{recipe.featured_image.url}}" alt="Card image cap">
            </a>
            <!-- Title -->
            <a class="author recipe-title" href="{% url 'recipe' recipe.id %}">
                <p>{{recipe.title}}</p>
            </a>
            <p>by:</p>

            <!-- Author -->
            <a href="" class="author-signature">{{recipe.owner.name}}</a>
            <hr>
            <!-- Tags -->
            <div>
                {% for tag in recipe.tags.all %}
                <span class="badge">{{tag}}</span>
                {% endfor %}
            </div>
            <hr>
            <!-- Info-Excerpt -->
            <p class="card-text">
                {{recipe.description|linebreaksbr}}
            </p>
        </div>

    </div>

    <div class="card col-12 col-md-6 col-xl-4 offset-md-6 border border-dark border-2 rounded-4 mt-4 mt-lg-5">
        <h2 class="mt-3">Ingredients</h2>
        <p class="card-text">
            <ul class="ingredients bio">
                <li class="recipepage-text">{{recipe.ingredients|linebreaksbr}}</li>
            </ul>
        </p>
    </div>

    <div class="card col-12 col-md-6 col-xl-4 offset-md-6 border border-dark border-2 rounded-4 mt-4 mb-5">
        <h2 class="mt-3">Method</h2>
        <p class="card-text">
            <ul class="ingredients">
                <li class="recipepage-text">
                    {{recipe.method|linebreaksbr}}
                </li>
            </ul>
        </p>
    </div>



</main>

{% endblock content %}