{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="container">
    <div class="row justify-content-center mt-5 g-0">
        <div
            class="col-12 col-md-7 col-xl-5 p-2 card-inbox border border-dark border-2 rounded-4 justify-content-center">

            <h3>Inbox-<small><small></small></small></h3>

            <div class="row justify-content-center">
                <div class="col-12">
                    <ul>

                        <li class="li">

                        <li class="li-read"></li>

                        <a class="inbox-msg" href="">
                            <span><small></small></span>
                            <br>
                            <span></span>
                            <br>
                            <a href=""><button
                                    class="col-3 mb-2 inbox-btn border border-dark border-2 rounded-4 offset-9">Delete</button></a>
                        </a>
                        </li>


                    </ul>

                </div>
            </div>

        </div>
    </div>
</main>

{% endblock %}