{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Private message template -->
<main class="container">
  <section class="row justify-content-center g-0 mt-2">
    <a href="{% url 'inbox' %}"><button class="btn back-btn">Back</button></a>
    <div class="col-12 col-md-8 col-lg-7 col-xl-5 p-4 mb-5 card-message border border-dark border-2 rounded-4">
      <div class="col-12 card-message">
        <h4>Message from:</h4>
        {% if message.sender %}
        <a href="{% url 'user_profile' message.sender.id %}"><span class="msg-txt">{{message.name}}</span></a>
        {% else %}
        <span class="msg-txt">{{message.name}}</span>
        {% endif %}
        <hr>
        <h4>Subject:</h4>
        <span class="msg-txt">{{message.subject}}</span>
        <hr>
        <h4>Message:</h4>
        <span class="msg-txt">{{message.body|linebreaksbr}}</span>
        <br>
        <!-- Check to see if user is registered, if so offer reply functionality -->
        {% if message.sender.id %}
        <a href="{% url 'reply_message' message.sender.id %}"><button class="btn">Reply</button></a>
        <a href="{% url 'delete_message' message.id %}"><button class="btn">Delete</button></a>
        {% else %}
        <hr>
        I can be contacted at: {{message.email}}
        <hr>
        <a href="{% url 'delete_message' message.id %}"><button class="btn">Delete</button></a>
        {% endif %}
      </div>
    </div>
  </section>
</main>

{% endblock %}