{% extends 'main.html' %}
{% load static %}
{% block content %}



  <main class="container">
    <section class="row justify-content-center g-0 mt-2">
      <a href="{% url 'inbox' %}"><button class="btn back-btn">Back</button></a>
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 p-4 card-message border border-dark border-2 rounded-4">
        <div class="col-12 card-message">
          <h4>Message from:</h4>
          <span class="msg-txt">{{message.sender}}</span>
          <hr>
          <h4>Subject:</h4>
          <span class="msg-txt">{{message.subject}}</span>
          <hr>
          <h4>Message:</h4>
          <span class="msg-txt">{{message.body|linebreaksbr}}</span>
          <br>
          <a href=""><button class="btn">Reply</button></a>
          <a href=""><button class="btn">Delete</button></a>
        </div>
      </div>

    </section>
  </main>

{% endblock %}