{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Private message template -->
<main class="container">
  <a href="{% url 'inbox' %}" class="btn back-btn">Back</a>
  <section class="row justify-content-center g-0 mt-2">
    
    <div class="col-12 col-md-8 col-lg-7 col-xl-5 p-4 mb-5 card-message border border-dark border-2 rounded-4">
      <div class="col-12 card-message">
        <h4>Message from:</h4>
        {% if message.sender %}
        <a href="{% url 'user_profile' message.sender.id %}"><span class="msg-txt">{{message.name}}</span></a>
        {% else %}
        <span class="msg-txt">{% if message.name == None %} Sender did not provide their name. {% else %}{{message.name}}{% endif %}</span>
        {% endif %}
        <hr>
        <h4>Subject:</h4>
        <span class="msg-txt">{% if message.subject == None %} Sender did not provide a subject. {% else %}{{message.subject}}{% endif %}</span>
        <hr>
        <h4>Message:</h4>
        <span class="msg-txt">{% if message.body == None %} Sender did not include a message. {% else %}{{message.body|linebreaksbr}}{% endif %}</span>
        <br>
        <!-- Check to see if user is registered, if so offer reply functionality -->
        {% if message.sender.id %}
        <a href="{% url 'reply_message' message.sender.id %}" class="btn">Reply</a>
        <a href="{% url 'delete_message' message.id %}" class="btn">Delete</a>
        {% else %}
        <hr>
        {% if message.email == None %} Sender did not provide an email address. 
        {% else %}
        I can be contacted at: {{message.email}}
        {% endif %}
        <hr>
        <a href="{% url 'delete_message' message.id %}" class="btn">Delete</a>
        {% endif %}
      </div>
    </div>
  </section>
</main>

{% endblock %}