{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Create private message form -->

<main class="container mt-0 mb-5">
    <section class="row justify-content-center g-0">
        <a href="{% url 'user_profile' recipient.id %}"><button class="btn back-btn">Back</button></a>
        <div
            class="col-12 col-md-6 col-lg-5 col-xl-4 p-2 mt-0 card-welcome border border-dark border-2 rounded-4 justify-content-center">
            <form action="" method="POST">
                <h4>Write Message:</h4>
                {% csrf_token %}
                {% if request.user.is_authenticated == False %}
                <div class="mb-3">
                    <label for="" class="form-label">{{form.name.label}}</label>
                    <br>
                    {{form.name}}
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">{{form.email.label}}</label>
                    <br>
                    {{form.email}}
                </div>
                {% endif %}

                <div class="mb-3">
                    <label for="" class="form-label">{{form.subject.label}}</label>
                    <br>
                    {{form.subject}}
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">{{form.body.label}}</label>
                    <br>
                    {{form.body}}
                </div>

                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </section>

</main>
{% endblock %}