{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Search Bar -->
<form id="searchForm" action="{% url 'profiles' %}" method="get" class="d-flex justify-content-center" role="search">
    <label for="search"></label>
    <input class="form-control search-bar me-2" id="search" type="text" name="search_query" value="{{search_query}}"
        placeholder="Search Users..." aria-label="Search">
    <br>
    <button class="search-btn btn btn-outline-success" type="submit">Search</button>
</form>

<!-- Chef cards -->
<main class="container text-center g-5">

    <section class="row justify-content-around">
        {% for profile in profiles %}
        <div
            class="card justify-content-center p-2 border border-dark border-2 rounded-4 mb-5 mt-3 mt-md-3 mt-lg-5 col-12 col-md-5 col-lg-3 mx-2">
            <div class="row p-2">
                <div class="col-12 p-auto m-auto">
                    <div class="pic-frame m-auto">
                        <a href="{% url 'user_profile' profile.id %}">
                            {% if 'placeholder' in profile.profile_image.url %}
                            <img class="chef-profile border border-dark border-2 rounded-4"
                                src="{% static 'images/user-default.png' %}" alt="Card image cap">
                            {% else %}
                            <img class="chef-profile border border-dark border-2 rounded-4"
                                src="{{profile.profile_image.url}}" alt="Card image cap">
                            {% endif %}
                        </a>
                    </div>


                    <div class="card-body">
                        <!-- Title -->
                        <a class="author recipe-title" href="{% url 'user_profile' profile.id %}">
                            <p class="card-title">{{profile.name}}</p>
                        </a>
                        <hr>
                        <!-- <p>About:</p>
                        <hr> -->
                        <p class="card-text">{{profile.short_intro|slice:'160'}}.......</p>
                        <hr>
                        <p>Member Since:</p>
                        <p>{{profile.created_on}}</p>
                        <div class="card-body">
                            {% if profile.social_github %}
                            <a href="{{profile.social_github}}" target="_blank" class="social"><i
                                    class="fa-brands fa-square-github"></i></a>
                            {% endif %}
                            {% if profile.social_linkedin %}
                            <a href="{{profile.social_linkedin}}" target="_blank" class="social"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            {% endif %}
                            {% if profile.social_youtube %}
                            <a href="{{profile.social_youtube}}" target="_blank" class="social"><i
                                    class="fa-brands fa-square-youtube"></i></a>
                            {% endif %}
                            {% if profile.social_twitter %}
                            <a href="{{profile.social_twitter}}" target="_blank" class="social"><i
                                    class="fa-brands fa-square-twitter"></i></a>
                            {% endif %}
                            {% if profile.social_facebook %}
                            <a href="{{profile.social_facebook}}" target="_blank" class="social"><i
                                    class="fa-brands fa-square-facebook"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </section>
    {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}


</main>

{% endblock content %}