{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if page == 'sign_in' %}

<main class="container">
    <div class="row justify-content-center g-0">
        <div
            class="col-11 col-md-6 col-lg-5 col-xl-4 p-0 mb-5 card-welcome border border-dark border-2 rounded-4 justify-content-center">
            <form method="POST" action="{% url 'sign_in' %}">
                <h4>Log In</h4>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <br>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <br>
                    <input type="password" name="password" class="form-control" id="password">
                </div>

                <button type="submit" class="btn btn-primary login-register">Log In</button>
                
                <hr>
                <p>Don't have an account? <br> Register here...</p>
                <a class="login-register btn btn-primary" href="{% url 'register' %}">Register</a>
            </form>
        </div>
    </div>
</main>

{% else %}
<main class="container">
    <section class="row justify-content-center g-0 mb-5">
        <div
            class="col-11 col-md-6 col-lg-5 col-xl-4 p-0 card-welcome border border-dark border-2 rounded-4 justify-content-center">
            <form method="POST" action="{% url 'register' %}">
                <h4>Create Account</h4>
                {% csrf_token %}
                {% for field in form %}
                <label>{{field.label}}</label>
                {{field}}
                
                {% for error in field.errors %}
                <br>
                <small style="color: red;"><b>**{{error}}**</b></small>
                <br>
                {% endfor %}
                
                {% endfor %}
                <input type="submit" value="Register" class="btn btn-primary">
                <hr>
                <p>Already have an account? <br> Sign in here...</p>
                
                <a class="login-register btn btn-primary" href="{% url 'sign_in' %}">Sign In</a>
            </form>
        </div>
    </section>

</main>
{% endif %}

{% endblock %}