{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="container text-center">

    <section class="row justify-content-center justify-content-lg-start  g-0">
        <!-- Site title and info -->
        <div class="intro-msg hold flex-wrap col-11 col-md-8 col-lg-4 col-xl-4 card-welcome border border-dark border-2 rounded-4 justify-content-center p-3 mb-5">
            <img id="homeicon" alt="image of the taj mahal" src="{% static 'images/taj-mahal.png' %}">
            <div class="welcome-msg">
                <h2>Welcome</h2>
                <h2>to</h2>
                <h2>Taste of India</h2>
                <hr>
                <p>The <b>#1</b> place for traditional Indian recipes from all over the continent.</p>
                <hr>
            </div>
        </div>
        <!-- Sitye navigation an explanation -->
        <div class="row justify-content-center justify-content-lg-end g-0">
            <div class="intro-msg flow flex-wrap col-11 col-md-8 col-lg-6 col-xl-6 card-welcome border border-dark border-2 rounded-4 justify-content-center p-3 mb-5">
                <div class="">
                    <hr>
                    <p>Feel free to browse all of the <i>Recipes</i> here.....</p>
                    <a href="{% url 'recipes' %}"
                            class="recipe-btn btn border border-dark border-2 rounded-4 mt-2">Recipes</a>
                    <hr>
                    <p>Or our international community of Professional, Amateur and Hobbyist Chefs here...</p>
                    <a href="{% url 'profiles' %}"
                            class="recipe-btn btn border border-dark border-2 rounded-4 mt-2">Chefs</a>
                    <div class="w-100"></div>
                    <hr>
                    <p><b>Not enough?</b></p>
                    <hr>
                    <p><b>Sign Up</b> for an account, add your own <i>Recipes</i>, leave <i>Reviews</i> or simply chat
                        with other
                        users about their favourite <i>Recipes</i>.....</p>
                    <a href="{% url 'register' %}"
                            class="recipe-btn btn border border-dark border-2 rounded-4 mt-2">Sign-Up</a>
                    <hr>
                    <p>Already have an account? <b>Log in</b> here....</p>
                    <a href="{% url 'sign_in' %}"
                            class="recipe-btn btn border border-dark border-2 rounded-4 mt-2">Log
                            In</a>
                    <hr>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}