{% extends 'main.html' %}
{% load static %}
{% block content %}


    <div class="container text-center">

        <div class="row justify-content-center justify-content-lg-start  g-0">
            <div id="intro-msg"
                class="hold flex-wrap col-11 col-md-8 col-lg-4 col-xl-4 p-2 card-welcome border border-dark border-2 rounded-4 justify-content-center p-3">
                <img id="homeicon" src="{% static 'images/taj-mahal.png' %}">
                <div class="welcome-msg">
                    <h2>Welcome</h2>
                    <h2>to</h2>
                    <h2>Taste of India</h2>
                    <hr>
                    <p>The <b>#1</b> place for traditional Indian recipes from all over the continent.</p>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center justify-content-lg-end g-0">
                <div id="intro-msg"
                    class="flow flex-wrap col-11 col-md-8 col-lg-6 col-xl-6 p-2 card-welcome border border-dark border-2 rounded-4 justify-content-center p-3">
                    <div class="">
                        <hr>
                        <p>Feel free to browse all of the <i>Recipes</i> here.....</p>
                        <a href="{% url 'recipes' %}"><button
                                class="recipe-btn border border-dark border-2 rounded-4 mt-2">Recipes</button></a>
                        <hr>
                        <p>Or our international community of Professional, Amateur and Hobbyist Chefs here...</p>
                        <a href="{% url 'profiles' %}"><button
                                class="recipe-btn border border-dark border-2 rounded-4 mt-2">Chefs</button></a>
                        <div class="w-100"></div>
                        <hr>
                        <p><b>Not enough?</b></p>
                        <hr>
                        <p><b>Sign Up</b> for an account, add your own <i>Recipes</i>, leave <i>Reviews</i> or simply chat with other
                            users about their favourite <i>Recipes</i>.....</p>
                        <a href=""><button
                                class="recipe-btn border border-dark border-2 rounded-4 mt-2">Sign
                                Up</button></a>
                        <hr>
                        <p>Already have an account? <b>Log in</b> here....</p>
                        <a href=""><button class="recipe-btn border border-dark border-2 rounded-4 mt-2">Log
                                In</button></a>
                        <hr>

                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}