{% extends 'main.html' %}
{% load static %}
{% block content %}


<main class="container">

    <div class="row justify-content-center g-0">
        <div
            class="col-11 col-md-6 col-xl-4 p-2 mb-5 card-welcome border border-dark border-2 rounded-4 justify-content-center">

            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username"
                        aria-describedby="usernameHelp" placeholder="Joe_Bloggs69">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="********">
                </div>

                <small style="color: red;"><b></b></small>

                <button type="submit" class="btn btn-primary"><a class="login-register" href="">Log
                        In</a></button>
                <hr>
                <p>Don't have an account? <br> Register here...</p>
                <button type="submit" class="btn btn-primary"><a class="login-register" href="">Register</a></button>
            </form>
        </div>
    </div>

</main>

{% endblock %}